aiofiles==22.1.0
certifi==2022.12.7
charset-normalizer==2.1.1
dnspython==2.2.1
idna==3.4
motor==3.1.1
pyaes==1.6.1
pyasn1==0.4.8
Pyrogram==2.0.63
PySocks==1.7.1
requests==2.28.1
rsa==4.9
TgCrypto==1.2.5
urllib3==1.26.13

fastapi~=0.88.0
starlette~=0.22.0
python-dotenv~=0.21.0
pydantic~=1.10.2

databases~=0.7.0
SQLAlchemy~=1.4.45
names~=0.3.0
pyotp~=2.8.0
opentele~=1.15.1
Telethon~=1.26.1
uvicorn~=0.20.0
asyncpg==0.27.0
psycopg2==2.9.5
phone-iso3166==0.4.1
stream-sqlite==0.0.41
Jinja2==3.1.2
python-multipart==0.0.5
fastapi-login==1.8.3
websockets==10.4