{% extends 'base.html' %}
{% block title %}FRT{% endblock %}
{% block content %}
    <div class="vh-100 position-absolute top-0 w-100 start-0">
            <div class="container h-100 d-flex flex-column align-items-center justify-content-center text-center">
                <h1 class="text-warning" style="font-size: 200px"><i class="bi bi-exclamation-triangle-fill"></i></h1>
                <p>THIS SOFTWARE IS PROVIDED FOR <danger class="text-danger">EDUCATIONAL USE ONLY!</danger>
                    <br>
                IF YOU ENGAGE IN ANY ILLEGAL ACTIVITY, THE AUTHOR IS NOT RESPONSIBLE FOR THIS AND FOR POSSIBLE ACCOUNT BLOCKING.
                    <br>
                THE AUTHOR DOES NOT PUBLISH ANY IP ADDRESSES AND DOES NOT INVITE ANY ILLEGAL ACTIONS. ALL AT YOUR OWN RISK.
                    <br>
                BY USING THIS SOFTWARE, YOU AGREE TO BE BOUND BY THESE TERMS. I WARNED YOU.</p>
            </div>
    </div>
{% endblock %}
