<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<div class="modal fade" id="qrCodeModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add account by QR code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="d-flex justify-content-center" id="qrCode" style="height: 180px"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="closeQrCode()"><i class="bi-x-lg"></i> Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    const qrCodeModal = new bootstrap.Modal('#qrCodeModal', {})

    function showQrCode(url) {
        if (!qrCodeModal._isShown)
            qrCodeModal.show()
        document.getElementById('qrCode').innerHTML = ''
        let bodyData = window.getComputedStyle(document.body)

        new QRCode(document.getElementById('qrCode'), {
            text: `${url}`,
            width: 180,
            height: 180,
            colorDark: bodyData.getPropertyValue('--bs-body-color'),
            colorLight: bodyData.getPropertyValue('--bs-body-bg'),
            correctLevel: QRCode.CorrectLevel.H
        });
    }

    function closeQrCode() {
        sendHandler('close_qr_code')
    }

</script>